<h1>Users</h1>
<% @users.each do |u|%>
<p>	<%= u.username %> </p>
<p> <%= u.email %> </p>
<%= u.age%> 
<% end %>
<h2>Cats</h2>
<% @cats.each do |c| %>
<p> <%= c.name %> </p>
<p> <%= c.meow%> </p>
<% end %>
<h3>Todos</h3>
<% @todos.each do |e|%>
<p> <%= e.tasks %> </p>
<p> <%= e.finished %> </p>
<% end %>
